/**
 * ui-button
 */

.ui-button{
	color: #fff;
	border: none;
	margin: 0;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.ui-button-blue{
	background-color: #07a8dc;
}