/**
 * 布局
 */

//header头部区域
.index-header{
	height: 90px;
	overflow: hidden;
	.logo{
		float: left;
		margin: 20px 0 0 26px;
	}
	.h-infomation{
		float: right;
		.h-infomation-l{
			float: left;
			.h-infomation-l-1{
				margin-top: 15px;
				text-align: right;
				& a{
					display: inline-block;
					margin-left: 10px;
				}
			}
			.h-infomation-l-2{
				margin-top: 10px;
				font-size: 20px;
				& span.h-infomation-l-2-tel{
					color: #07a8dc;
					display: inline-block;
					background: url("../../images/renovation_index_06-04.gif") no-repeat left center;
					padding-left: 30px;
				}
				& span.h-infomation-l-2-qq{
					color: #eb3d00;
					display: inline-block;
					background: url("../../images/renovation_index_09.gif") no-repeat left center;
					padding-left: 30px;
				}
			}
		}
		.h-infomation-r{
			float: left;
			margin: 10px 0 0 20px;
		}
	}
}

//header菜单
.index-menu{
	margin-bottom: 17px;
	height: 70px;
	overflow: hidden;
	background-color: #232a32;
	& ul li{
		float: left;
		border-right: 1px solid #3a4149;
		& a.index-menu-item{
			width: 109px;
			display: inline-block;
			height: 55px;
			padding-top: 15px;
			background-color: #232a32;
			color: #fff;
			text-align: center;
			font-size: 16px;
			text-decoration: none;
			& span{
				display: block;
				font-size: 12px;
				font-family: arial;
				color: darken(#fff, 40%);
			}
			&:hover{
				background-color: #00a8de;
				& span{
					color: #fff;
				}
			}
		}
	}
	& ul li.cur{
		& a.index-menu-item{
				background-color: #00a8de;
			& span{
				color: #fff;
			}
			&:hover{
			}
		}
	}
}

//index 切换图效果
.index-h-2{
	margin-bottom: 20px;
	.index-h-2-l{
		float: left;
		width: 861px;
		height: 461px;
		position: relative;
		.imgabsolute{
			position: absolute;
			top: 0;
			left: 0;
		}
		.index-entrance-bg{
			position: absolute;
			top: 74px;
			width: 370px;
			height: 290px;
			.opacity(50);
			background-color: #000;
			display: inline-block;
		}
		.info{
			position: absolute;
			top: 74px;
			width: 370px;
			height: 290px;
			.m{

				color: #fff;
				font-size: 14px;
				margin: 30px 0 0 20px;
			}
		}
		.ui-tabpanel{
			margin-top: 30px;
			.ui-tabpanel-h{
				height: 32px;
				.tab-iteam{
					cursor: pointer;
					font-size: 14px;
					float: left;
					color: #fff;
					display: inline-block;
					padding: 0 10px;
					height: 32px;
					line-height: 32px;
					border-bottom: 1px solid #787c7c;
					border-top: 1px solid transparent;
				}
				.cur{
					border-top: 1px solid #787c7c;
					border-left: 1px solid #787c7c;
					border-right: 1px solid #787c7c;
					border-bottom: 1px solid transparent;
				}
				.line-left{
					height: 32px;
					width: 10px;
					border-bottom: 1px solid #787c7c;
					border-top: 1px solid transparent;
					float: left;
				}
				.line-right{
					height: 32px;
					width: 200px;
					border-bottom: 1px solid #787c7c;
					border-top: 1px solid transparent;
					float: left;
				}
			}
			.ui-tabpanel-c{
				.mm{
					width: 152px;
					float: left;
					color: #fff;
					margin: 20px 0 0 15px;
					font-size: 14px;
				}
				.mb{
					font-size: 14px;
					color: #fff;
					clear: both;
					color: #fff;
					font-size: 14px;
					clear: both;
					padding: 20px 0 0 15px;
				}
			}
		}
		.index-entrance-txt-bg{
			position: absolute;
			bottom: 54px;
			right: 22px;
			width: 345px;
			height: 153px;
			.opacity(50);
			background-color: #000;
			display: inline-block;
		}
		.info-txt{
			position: absolute;
			bottom: 54px;
			right: 22px;
			width: 345px;
			height: 153px;
			color: #fff;
			& h1{
				font-size: 30px;
				margin-top: 20px;
				text-align: right;
				padding-right: 10px;
			}
			& p{
				font-size: 16px;
				padding: 10px;
			}
		}
		.b-tab{
			position: absolute;
			bottom: 10px;
			right: 20px;
			height: 30px;
			.bottom-tab{
				float: right;
				margin-top: 5px;
				margin-right: 10px;
				& a{
					display: inline-block;
					height: 8px;
					width: 8px;
					background-color: #83d4ee;
					.border-radius(6px);
					margin-right: 5px;
					&.cur{
						background-color: #fff;
					}
				}
			}
		}
	}
	.index-h-2-r{
		float: right;
		width: 212px;
		margin-right: 10px;
		.i-item{
			float: left;
			width: 100px;
			height: 100px;
			border: 1px solid #dee3e6;
			background-color: #f8f8f8;
			color: #00a6db;
			margin-bottom: 8px;
			cursor: pointer;
		}
		.i-item-col{
			height: 93px;
			border: 1px solid #dee3e6;
			background-color: #f8f8f8;
			clear: both;
			.i-item-icon{
				display: inline-block;
			}
			.i-item-txt{
				display: inline-block;
			}
		}
		.i-item-search{
			zoom: 1;
			overflow: hidden;
			clear: both;
			margin-bottom: 8px;
			& input{
				float: left;
			}
			.ui-button{
				float: left;
			}
		}
		.ml{
			margin-left: 8px;
		}
	}
}


//首页通栏主题布局

.index-t-l{
	.index-t-l-title{
		height: 27px;
		line-height: 27px;
		border-bottom: 1px solid #dee3e6;
		& h1{
			background-color: #232a32;
			float: left;
			color: #fff;
			font-size: 14px;
			min-width: 130px;
			*width: 130px;
			_width: 130px;
			text-align: center;
			font-weight: 500;
			display: inline-block;
		}
		& a.more{
			float: right;
			color: #333333;
			text-decoration: none;
			font-size: 14px;
		}
	}
	.index-t-l-content{
		padding: 15px;
	}
}