/**
 * 布局
 */

//header头部区域
.index-header{
	height: 90px;
	overflow: hidden;
	.logo{
		float: left;
		margin: 20px 0 0 26px;
	}
	.h-infomation{
		float: right;
	}
}

//header菜单
.index-menu{
	margin-bottom: 17px;
	height: 70px;
	overflow: hidden;
	background-color: #232a32;
	& ul li{
		float: left;
		border-right: 1px solid #3a4149;
		& a.index-menu-item{
			width: 109px;
			display: inline-block;
			height: 55px;
			padding-top: 15px;
			background-color: #232a32;
			color: #fff;
			text-align: center;
			font-size: 16px;
			text-decoration: none;
			& span{
				display: block;
				font-size: 12px;
				font-family: arial;
				color: darken(#fff, 40%);
			}
			&:hover{
				background-color: #00a8de;
				& span{
					color: #fff;
				}
			}
		}
	}
	& ul li.cur{
		& a.index-menu-item{
				background-color: #00a8de;
			& span{
				color: #fff;
			}
			&:hover{
			}
		}
	}
}

//index 切换图效果
.index-h-2{
	margin-bottom: 20px;
	.index-h-2-l{
		float: left;
		width: 862px;
		position: relative;
		.index-entrance-bg{
			position: absolute;
			top: 74px;
			width: 370px;
			height: 290px;
			.opacity(50);
			background-color: #000;
		}
		.index-entrance-txt-bg{
			position: absolute;
			bottom: 54px;
			right: 22px;
			width: 345px;
			height: 153px;
			.opacity(50);
			background-color: #000;
		}
	}
	.index-h-2-r{
		float: right;
		width: 212px;
		margin-right: 10px;
	}
}


//首页通栏主题布局

.index-t-l{
	.index-t-l-title{
		height: 27px;
		line-height: 27px;
		border-bottom: 1px solid #dee3e6;
		& h1{
			background-color: #232a32;
			float: left;
			color: #fff;
			font-size: 14px;
			min-width: 130px;
			text-align: center;
			font-weight: 500;
		}
		& a.more{
			float: right;
			color: #333333;
			text-decoration: none;
			font-size: 14px;
		}
	}
	.index-t-l-content{
		padding: 15px;
	}
}