/**
 * ui-table
 */
.ui-table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
	& tr th{
		height: 36px;
		background-color: #07a8dc;
		line-height: 36px;
		font-size: 14px;
		text-align: center;
		color: #fff;
	}
	& tr td{
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		color: #737373;
		& a{
			color: #01a469;
			text-decoration: none;
		}
		&.txt-align-c{
			text-align: center;
		}
	}
	& tr.double td{
		background-color: #f5f6f6;
	}
}

//ui-table-layout
.ui-table-layout{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
	& tr td{
		padding: 10px;
	}
}

//ui-table-vertical
.ui-table-vertical{
	& tr th{
		border-top: none;
		border-bottom: 1px solid #dddddd;
		text-align: right;
		font-weight: 500;
		padding-right: 15px;
	}
	& tr td{
		border-bottom: 1px solid #dddddd;
	}
}

.questions{
	& tr.double{
		background-color: #f5f6f6;
	}
	& td a{
		color: #07a8dc !important;
	}
}